/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header {
    background-color: #116380;
    color: #ffffff;
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    margin: -8px;
    font-family: "Inter", sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.nav-menu-about-item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: box-shadow 0.5s ease;
}

.nav-menu-about-item:hover {
    box-shadow: 0 0.1em 0 0 white;
}

.nav-menu-about-currency {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 6px;
    display: inline;
    transition: background-color 0.5s ease;
}

.nav-menu-about-currency:hover {
    background-color: rgba(173, 216, 230, 0.5);
}

.nav-menu-about-country {
    transition: background-color 0.5s ease;
}

.nav-menu-about-country:hover {
    transition: background-color 0.3s;
    background-color: rgba(173, 216, 230, 0.5);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-menu ul li {
    padding: 0 16px;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-menu-about-btn {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 12px solid #F5F9FA;
    background: #F5F9FA;
    padding: 15px 30px;
    margin-left: 15px;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.nav-menu-about-btn:hover {
    transition: all 0.5s ease;
    border: 12px solid #c5d3d6;
    background: #c5d3d6;
}

/* HEADER */


/* FOOTER */
footer {
    background-color: #116380;
    padding: 40px 0;
    padding-bottom: 20px;
    margin: -8px;
    font-family: "Inter", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding-left: 13%;
}

.footer-column {
    margin-right: 45px;
    text-align: left;
    margin-bottom: 20px;
}

.footer-column p {
    cursor: default;
    margin-bottom: 20px;
    /* font-weight: bold; */
    color: #F5F9FA;
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;

}

.footer-column a {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: default;

    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.footer-column a:hover {
    text-decoration: underline;
}

.download {
    margin-left: 280px;
}

.download a {
    margin-top: 10px;
}

.footer-social img {
    height: 20px;
    margin-right: 10px;
}

.footer-social {
    display: flex;
    flex-direction: row;
}

.footer-pay {
    display: flex;
    flex-direction: row;
}

.footer-pay a {
    margin: 0px;
    margin-right: 14px;
}

.footer-social a {
    margin: 0px;
    margin-right: 14px;
}

.footer-bottom {
    cursor: default;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 13%;
    margin-right: 30px;
    align-items: baseline;
    justify-content: space-between;
}

.footer-bottom p {
    color: #F5F9FA;
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer-column {
        flex: 1 0 40%;
        text-align: center;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-bottom {
        flex: 1 0 40%;
        text-align: center;
    }
}

.footer-column-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.footer-column-element {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footer-bottom-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer-bottom-links a {
    cursor: default;
}

.footer-small {
    display: flex;
    align-items: baseline;
    margin-top: -10px;
}

.footer-small-logo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin: 0 35% 0 40px;
}

.footer-small-about {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #fff;
    margin: 0;
    margin-left: 45px;
}

.footer-small-chat {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #F5F9FA;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 0;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.footer-small-chat:hover {
    transition: all 0.5s ease;
    background-color: #75bdcf;
    color: #fff;
}

.footer-small-about a {
    color: #fff;
    cursor: default;
    text-decoration: none;
    padding-bottom: 5px;
}

.footer-small-about a:hover {
    border-bottom: 1px solid #fff;
}

/* Вхід */
.list-item {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 2;
    /* padding: 15px; */
    transition: opacity 0.5s, transform 0.5s;
    max-width: 500px;
    max-height: 812px;
    opacity: 0;
}


.text-logo-arvista {
    display: flex;
    background-color: #116380;
    width: 500;
    border-radius: 12px 12px 0 0;
    padding: 13px 20px 13px 20px;
    justify-content: center;
    align-items: center;
}

.text-logo-arvista img {
    width: 119px;
    margin: 0;
    padding: 0;

}

.text-logo-arvista p {
    font-family: "Inter";
    font-size: 18px;
    line-height: 21.78px;
    text-align: left;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F9FA;
    border-radius: 0 0 12px 12px;
    width: 100%;
}

.form-container label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #2E2E2E;
}

.form-input {
    width: 340px;
    height: 50px;
    border: 1px solid #B5B5B5;
    border-radius: 6px;
    margin-top: 10px;
}

.container-form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
   margin-top: 10px; 
  }
*/

.btn-cancel {
    cursor: pointer;
}

.div-btn-cancel {
    text-align: right;
}

.form-container-apple {
    display: flex;
    width: 340px;
    height: 50px;
    background-color: #121315;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 25px;
}

.form-container-google p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #FFFFFF;
    padding-left: 13px;
}

.form-container-google img {
    width: 24px;
}

.form-container-google {
    display: flex;
    width: 340px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 50px;
}

.form-container-google p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #2E2E2E;
    padding-left: 13px;
}

.form-container-google img {
    width: 24px;
}

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.or p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #2E2E2E;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

/* Вхід */