/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header {
    background-color: #116380;
    color: #ffffff;
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    margin: -8px;
    font-family: "Inter", sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.nav-menu-about-item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: box-shadow 0.3s;
}

.nav-menu-about-item:hover {
    box-shadow: 0 0.1em 0 0 white;
}

.nav-menu-about-currency {
    padding: 6px;
    display: inline;
}

.nav-menu-about-currency:hover {
    transition: background-color 0.3s;
    background-color: rgba(173, 216, 230, 0.5);
}

.nav-menu-about-country:hover {
    transition: background-color 0.3s;
    background-color: rgba(173, 216, 230, 0.5);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-menu ul li {
    padding: 0 16px;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px;
}


.nav-menu-about-currency {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.nav-menu-about-btn {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 12px solid #F5F9FA;
    background: #F5F9FA;
    padding: 15px 30px;
    margin-left: 15px;
    border-radius: 12px;
}

/* HEADER */


/* FOOTER */
footer {
    background-color: #116380;
    padding: 40px 0;
    padding-bottom: 20px;
    margin: -8px;
    font-family: "Inter", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: 157px;
}

.footer-column {
    flex: 1 0 20%;
    text-align: left;
    margin-bottom: 20px;
}

.footer-column p {
    cursor: default;
    margin-bottom: 20px;
    /* font-weight: bold; */
    color: #F5F9FA;
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;

}

.footer-column a {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: default;

    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.footer-column a:hover {
    text-decoration: underline;
}

.download a {
    margin-top: 10px;
}

.footer-social img {
    height: 20px;
    margin-right: 10px;
}

.footer-social {
    display: flex;
    flex-direction: row;
}

.footer-pay {
    display: flex;
    flex-direction: row;
}

.footer-pay a {
    margin: 0px;
    margin-right: 14px;
}

.footer-social a {
    margin: 0px;
    margin-right: 14px;
}

.footer-bottom {
    cursor: default;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 157px;
    margin-right: 30px;
    align-items: baseline;
    justify-content: space-between;
}

.footer-bottom p {
    color: #F5F9FA;
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer-column {
        flex: 1 0 40%;
        text-align: center;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-bottom {
        flex: 1 0 40%;
        text-align: center;
    }
}

.footer-column-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.footer-column-element {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footer-bottom-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer-bottom-links a {
    cursor: default;
}

.footer-small {
    display: flex;
    align-items: baseline;
}

.footer-small-logo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin: 0 35% 0 40px;
}

.footer-small-about {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #fff;
    margin: 0;
    margin-left: 45px;
}

.footer-small-chat {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #F5F9FA;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 0;
    margin-left: 30px;
}

.footer-small-chat:hover {
    background-color: #75bdcf;
    color: #fff;
}

.footer-small-about a {
    color: #fff;
    cursor: default;
    text-decoration: none;
}

.footer-small-about a:hover {
    text-decoration: underline;
}