
@{
    ViewBag.Title = "aboard";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/style/about-travel/aboard/aboard.css">
</head>
<body>
    <header class="header">
        <div style="margin-top: 0" class="header-about">
            <p class="header-about-main"><a href="/about_travel">Про подорож</a></p>
            <p class="header-about-main" style="font-size: 48px; margin-top: 600px"> > </p>
            <p class="header-about-current">На борту</p>
        </div>
    </header>

        <div class="aboard">
            <div class="aboard-cards">
                <div class="aboard-card">
                    <p class="aboard-card-title">Класи обслуговування</p>
                    <div class="aboard-card-img-container">
                        <img src="~/Content/img/about-travel/aboard/card1.svg" class="aboard-card-image">
                    </div>
                </div>
                <div class="aboard-card">
                    <p class="aboard-card-title">Харчування та напої</p>
                    <div class="aboard-card-img-container">
                        <img src="~/Content/img/about-travel/aboard/card2.svg" class="aboard-card-image">
                    </div>
                </div>
                <div class="aboard-card">
                    <p class="aboard-card-title">SHOP&MORE</p>
                    <div class="aboard-card-img-container">
                        <img src="~/Content/img/about-travel/aboard/card3.svg" class="aboard-card-image">
                    </div>
                </div>
                <div class="aboard-card">
                    <p class="aboard-card-title">Розваги під час польоту</p>
                    <div class="aboard-card-img-container">
                        <img src="~/Content/img/about-travel/aboard/card4.svg" class="aboard-card-image">
                    </div>
                </div>
            </div>
        </div>


</body>
