
@{
    ViewBag.Title = "additional_services";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/style/about-travel/additional-services.css">
</head>
<body>
    <header style="padding: 16px" class="header">  
        <div class="header-about">
            <p class="header-about-main"><a href="/about_travel">Про подорож</a></p>
            <p class="header-about-main" style="font-size: 48px; margin-top: 610px"> > </p>
            <p class="header-about-current">Додаткові послуги</p>
        </div>
    </header>

    <div class="additional-services">
        <p class="additional-services-title">Додаткові послуги з нашими партнерами</p>
        <p class="additional-services-about">Ми хочемо, щоб ваша подорож була максимально комфортною і в найкращій обстановці. Тому з нашими партнерами ми пропонуємо безліч різних варіантів комфортної поїздки. Ви зможете знайти і забронювати все, що вам потрібно для подорожі.<br></p>
        <p class="additional-services-about">Не знаєте, куди піти в місці, де ви зупинилися? Наші партнери допомагають з величезним вибором різних розваг (музеї, екскурсії і т.д.).<br></p>
        <p class="additional-services-about">У останній момент сталася непередбачувана ситуація з транспортом? Не хвилюйтеся, сервіс таксі або оренда автомобіля допоможуть вам у різних ситуаціях!<br></p>
        <p class="additional-services-about" style="color: black;">Ознайомтеся з кожною категорією для гарного планування вашої подорожі!</p>

        <div class="additional-services-cards">
            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/car.svg" style="padding-top: 50px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">Забронюйте автомобіль</p>
                    <p class="additional-services-cards-link"><a href="https://www.booking.com/cars/index.uk.html?label=ru-de-booking-desktop-hip3mQ4eqjMn1jPHEMEQTgS652897959485%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9042649%3Ali%3Adec%3Adm&gclid=Cj0KCQjwzZmwBhD8ARIsAH4v1gW2sD13dkyWbgHjnjHnddWma6eU0vMwcDi4NGYdk-H8SCUJTqiT-EwaAh97EALw_wcB&aid=2311236&adplat=cross_product_bar&sid=b78939421c559bbdaf91b0d33e9b6a8d">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/taxi.svg" style="padding-top: 30px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">Таксі з/до аеропорту</p>
                    <p class="additional-services-cards-link"><a href="https://www.booking.com/taxi/index.uk.html?label=ru-de-booking-desktop-hip3mQ4eqjMn1jPHEMEQTgS652897959485%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9042649%3Ali%3Adec%3Adm&sid=b78939421c559bbdaf91b0d33e9b6a8d&aid=2311236&adplat=cross_product_bar">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/castle.svg" style="padding-top: 25px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">Екскурсії та пам'ятки</p>
                    <p class="additional-services-cards-link"><a href="https://www.booking.com/attractions/index.uk.html?aid=2311236&label=ru-de-booking-desktop-hip3mQ4eqjMn1jPHEMEQTgS652897959485%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9042649%3Ali%3Adec%3Adm&sid=42b5f56d4ccda472d9fbb314affcea27">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/hotel.svg" style="padding-top: 40px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">Забронюйте номер в готелі</p>
                    <p class="additional-services-cards-link"><a href="https://www.booking.com/index.uk.html?aid=2311236&label=ru-de-booking-desktop-hip3mQ4eqjMn1jPHEMEQTgS652897959485%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9042649%3Ali%3Adec%3Adm&ws=&gad_source=1&gclid=Cj0KCQjwzZmwBhD8ARIsAH4v1gW2sD13dkyWbgHjnjHnddWma6eU0vMwcDi4NGYdk-H8SCUJTqiT-EwaAh97EALw_wcB&lang=uk&soz=1&lang_changed=1">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/e-sim.svg" style="padding-top: 35px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">eSIM-карта</p>
                    <p class="additional-services-cards-link"><a href="https://esim.lot.com/#/landing-page">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="additional-services-card">
                <div class="additional-services-card-top">
                    <p style="text-align: center;"><img src="~/Content/img/about-travel/additional_services/visa.svg" style="padding-top: 40px;"></p>
                </div>
                <div class="additional-services-card-bot">
                    <p class="additional-services-cards-title">Електронна віза</p>
                    <p class="additional-services-cards-link"><a href="https://apply.joinsherpa.com/explore/POL?language=en-GB&utm_medium=ancpage&affiliateId=lot">Перейти до сайту</a></p>
                </div>
            </div>

        </div>
    </div>

</body>

