
@{
    ViewBag.Title = "inf_reg";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>i-registr</title>
    <link rel="stylesheet" href="~/Content/style/about-travel/inf_registr.css">
    @*<link rel="stylesheet" href="~/Content/style/about-travel/additional-services.css">*@
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<header class="header">
    <div class="header-about">
        <p class="header-about-main"><a href="/about_travel">Про подорож</a></p>
        <p class="header-about-main" style="font-size: 48px; margin-top: 600px"> > </p>
        <p class="header-about-current">Додаткові послуги</p>
    </div>
</header>
<div class="I-Body">

    <div class="container">
        <div>
            <div class="title">Реєстрація на рейс</div>
            <div class="text1">
                <p>Онлайн-реєстрація – дуже зручний і популярний спосіб отримати посадковий талон, що дає вам право опинитися серед пасажирів на борту нашого літака.</p>
                <p>
                    Це варіант для тих, хто любить заощаджувати час. У випадку онлайн-реєстрації і подорожі без зареєстрованого багажу пройдіть безпосередньо до контролю безпеки. Ви отримуєте додаткові хвилини, щоб зробити покупки і перекусити в ресторані аеропорту. Якщо у вас є така можливість, сміливо скористайтеся нею! 
                </p><p>
                    Заощадьте час і зареєструйтеся онлайн перед вильотом; все, що вам потрібно, – це номер бронювання або квитка та прізвище пасажира. 
                </p><p> <span class="bold">Що потрібно знати про онлайн-реєстрації? Як виглядає ця процедура покроково?
            </div>
            </p></span>
        </div>
    </div>

    <div class="container1">
        <div class="left1">
            <img src="~/Content/img/about-travel/i-registr/3.svg">
        </div>
        <div class="right1">
            <div class="title0">Реєстрація через Інтернет самостійно</div>
            <div class="text0"><p>* Онлайн-реєстрація можлива за 36 годин до вильоту за розкладом і закінчується за 120 хвилин до вильоту за розкладом.</p></div>

            <div class="title2">Важлива інформація</div>
            <div class="text2"><p>Якщо у вас міжконтинентальний рейс або за межі Шенгенської зони, ви можете зареєструватися тільки особисто через вебсайт або в аеропорту. У зв'язку із захистом персональних даних неможливо зареєструвати пасажирів на цих рейсах по телефону. Приносимо вибачення за можливі незручності.</p></div>

            <div class="title2">При он-лайн реєстрації вам знадобляться</div>
            <div class="text2">
                <p>
                    <ul>
                        <li>номер бронювання або квитка</li>
                        <li>прізвище пасажира</li>
                    </ul>
                </p>
            </div>

            <div class="title2">Як отримати посадковий талон?</div>
            <div class="text2"><p>На останньому етапі онлайн-реєстрації ви можете вибрати спосіб доставки вам посадкового талона. Ви можете: </p></div>
            <ul>
                <li>роздрукувати ваш посадковий талон</li>
                <li>замовити SMS з посадковим талоном на свій номер телефону</li>
                <li>відправити посадковий талон на адресу електронної пошти зберегти в телефоні.</li>
            </ul>
        </div>


    </div>

    <div class="container2">
        <div class="left">
            <div class="title3">Автоматична реєстрація через Інтернет</div>
            <div class="text3"><p>*Самостійна реєстрація багажу можлива тільки для прямого рейсу без пересадок.</p></div>
            <p class="text4"> Коли ви придбаєте квиток через наш веб-сайт або мобільний додаток, ви маєте можливість обрати автоматичну реєстрацію. Це означає, що вам не потрібно витрачати час на заповнення форм та очікування у чергах.</p>
            <p class="text4">Просто оберіть цей варіант під час покупки квитка, і ми забезпечимо вас автоматичною реєстрацією. Таким чином, ви зможете заощадити час та зосередитися на насолоді подорожжю, знаючи, що ваша реєстрація вже виконана та готова до вашого вильоту.</p>
        </div>
        <div class="right">
            <img src="~/Content/img/about-travel/i-registr/4.svg">
        </div>
    </div>

    <div class="container">
        <div>
            <div class="title">Реєстрація в аеропорту</div>
            <div class="text1">
                <p>Як проходить реєстрація на рейс в аеропорту? Що потрібно знати для швидкої і ефективної реєстрації?</p>
                <p>
                    Ми підготували два варіанти реєстрації в аеропорту: автоматична реєстрація або на стійках реєстрації. В аеропорту ви можете пройти реєстрацію з зареєстрованим багажем або додатковим обладнанням. Ми перевіримо ваші документи, тобто паспорт, посвідчення особи або візу. Варто виділити на це достатньо часу!
                </p><p>
                    Отримавши посадковий талон і наклейку на багаж, можна сміливо вирушати на перевірку безпеки. 
                    Ознайомтеся з даною процедурою покроково.
                </p>
            </div>
        </div>
    </div>
    <div class="new_container">
        <div class="tabs">
            <div class="tab" onclick="changeText('text1', this)">
                Покрокова реєстрація багажу в кіоску самообслуговування
                <div class="indicator"></div>
            </div>

            <div class="tab" onclick="changeText('text2', this)">
                Реєстрація на стійці в аеропорту
                <div class="indicator"></div>
            </div>
        </div>

        <div id="textContainer">

            <div id="text1">
                <img class="img-new" src="~/Content/img/about-travel/i-registr/5.svg">
                <p class="text5">Якщо ви зареєструєтесь через кіоск самообслуговування AirVista у Київі, Варшаві, Берліні ви також здасте свій багаж в тому самому місці. </p>
                <p>
                    <ul class="text5">
                        <li>Якщо ви зареєструвалися раніше і роздрукували посадковий талон, помістіть його на сканер. При використанні мобільного посадкового талона переконайтеся, що на вашому телефоні увімкнене фонове підсвічування.</li>
                        <li>Перевірте дані про бронювання на екрані і, якщо вони вірні, натисніть клавішу «Зареєструвати багаж». Після відповідей на питання, пов'язані з перевезенням вашого багажу і визначенням кількості місць багажу, буде проведена його реєстрація. Уважно дотримуйтесь інструкцій на екрані. Самоклеюча багажна бирка буде роздрукована автоматично. Якщо ви спробуєте зареєструвати більше одиниць багажу, ніж дозволено, бирки НЕ будуть роздруковані, а у відповідних повідомленнях буде вказано, що у вас є понаднормовий багаж. Вам буде запропоновано звернутися в касу AirVista для оплати понаднормового багажу. Перевірте, які діють обмеження на провезення багажу.</li>
                        <li>Прикріпіть бирку до сумки або валізи (бажано до ручки валізи). Для кожного місця зареєстрованого багажу буде роздрукована окрема багажна квитанція, яка буде підтвердженням реєстрації багажу. Візьміть її з собою і зберігайте, поки не заберете багаж в аеропорту призначення.</li>
                        <li>Підійдіть до стійки Bag Drop AirVista, де ви зможете перевірити вагу вашого багажу і передати його співробітникам аеропорту.</li>
                    </ul>
                </p>
                <p class="title6">Умови реєстрації багажу в кіоску самообслуговування</p>
                <p class="text6">Якщо ви подорожуєте з багажем, що перевищує ліміт AirVista, або зі спеціальним багажем, пройдіть до стійки реєстрації та зареєструйте там свій багаж. У разі виникнення проблем або сумнівів звертайтеся до наших співробітників, які завжди готові допомогти. Якщо ви вже зареєстрували свій багаж і роздрукували багажну бирку, а потім вирішили не здавати багаж, обов'язково повідомте про це персонал з метою коригування даних, пов'язаних з вашою подорожжю.</p>
                <p class="title6">Як виглядає реєстрація негабаритного багажу?</p>
                <p class="text6">Незвичайний багаж, наприклад дошки для серфінгу, коляски, великі рюкзаки, необхідно зареєструвати окремо на спеціальній стійці реєстрації негабаритного багажу. Персонал в аеропорту повідомить вам, якщо ваш багаж є негабаритним, і вкаже, куди вам слід звернутися. </p>

                <p><a href="#"> Ознайомтеся з правилами перевезення спортивного інвентарю.</a></p>
            </div>

            <div id="text2" style="display:none;">
                <img class="img-new" src="~/Content/img/about-travel/i-registr/6.svg">
                <p class="text6">Реєстрація квитків і багажу на рейси, що виконуються PLL AirVista (номера рейсів LO001-3999*), розпочинається як мінімум:</p>
                <p>
                    <ul class="text7">
                        <li>за 2 години до запланованого часу відправлення з польських аеропортів (крім Варшави) та інших аеропортів, з яких здійснюються середньомагістральні сполучення (Європа, Близький Схід, Північна Африка);</li>
                        <li>за 3 години до часу вильоту за розкладом для рейсів, що вилітають з США, Канади та інших далекомагістральних сполучень.</li>
                    </ul>
                </p>
                <p class="text6">Завжди слід враховувати час закриття реєстрації до запланованого рейсу, а також можливість продовження часу очікування для перевірки безпеки.</p>

                <p class="title6">Час закриття реєстрації квитків і багажу до вильоту за розкладом</p>
                <p class="text6">Ми дотримуємося цих часових проміжків, щоб гарантувати своєчасний виліт літаків. Зверніть увагу, що у вас вже повинен бути посадковий талон до закриття реєстрації, навіть якщо ви пройшли реєстрацію онлайн,  і у вас повинен бути зареєстрований багаж.</p>

                <p class="title6">Контроль безпеки</p>
                <p class="text6">Через можливі проблеми з інфраструктурою в деяких аеропортах прохання звернути увагу на можливість продовження часу очікування для перевірки безпеки. Для пасажирів з обмеженими руховими можливостями, які використовують засоби пересування, прохання розраховувати на більш тривалий час, необхідний для проведення процедур перевірки безпеки як пасажира, так і обладнання.</p>


                <section class="container_text2">
                    <section class="section1">
                        <p>Пункт призначення </p>
                    </section>
                    <section class="section1">
                        <p>Час закінчення реєстрації</p>
                    </section>
                </section>
                <section class="container_text2">
                    <section class="section2">
                        <p>короткомагістральні рейси до Шенгенської зони</p>
                    </section>
                    <section class="section2">
                        <p>40 хвилин</p>
                    </section>
                </section>
                <section class="container_text2">
                    <section class="section3">
                        <p>короткомагістральні рейси до країн поза Шенгеном</p>
                    </section>
                    <section class="section3">
                        <p>50 хвилин</p>
                    </section>
                </section>
                <section class="container_text2">
                    <section class="section2">
                        <p>рейси з Близького Сходу</p>
                    </section>
                    <section class="section2">
                        <p>60 хвилин</p>
                    </section>
                </section>
                <section class="container_text2">
                    <section class="section3">
                        <p>далекомагістральні рейси</p>
                    </section>
                    <section class="section3">
                        <p>70 хвилин</p>
                    </section>
                </section>
                <section class="container_text3">
                    <p>Ми рекомендуємо вам пройти онлайн-реєстрацію у вибраних аеропортах за 36 годин до вильоту.</p>
                </section>
                <section class="container_text3">
                    <button class="btn_text2">Зареєструйтесь онлайн</button>
                </section>

            </div>


        </div>
        <script>
        function changeText(textId, tab) {
          var texts = document.querySelectorAll('#textContainer div');
          texts.forEach(function(text) {
            text.style.display = 'none';
          });
          document.getElementById(textId).style.display = 'block';


          var tabs = document.querySelectorAll('.tab');
          tabs.forEach(function(tab) {
            tab.classList.remove('active');
            tab.querySelector('.indicator').style.display = 'none';
          });

          tab.classList.add('active');
          tab.querySelector('.indicator').style.display = 'block';
        }
        </script>
    </div>

</div>

