
@{
    ViewBag.Title = "special_requirements";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/style/about-travel/special_requirements.css"/>
    <title>AirVista</title>
</head>

<body>
    <header class="header">  
        <div class="header-about">
            <p class="header-about-main"><a href="/about_travel">Про подорож</a></p>
            <p class="header-about-main" style="font-size: 48px; margin-top: 610px"> > </p>
            <p class="header-about-current">Особливі вимоги</p>
        </div>
    </header>
    <div class="special-requirements">
        <p class="special-requirements-title">Особливі вимоги</p>

        <div class="special-requirements-cards">
            <div class="special-requirements-card">
                <div class="special-requirements-card-top" style="background-image: url(/Content/img/about-travel/special_requirements/img1.svg);"></div>
                <div class="special-requirements-card-bot">
                    <p class="special-requirements-cards-title">Подорож з дітьми</p>
                    <p class="special-requirements-cards-link"><a href="#">Літайте з родиною</a></p>
                </div>
            </div>

            <div class="special-requirements-card">
                <div class="special-requirements-card-top" style="background-image: url(/Content/img/about-travel/special_requirements/img2.svg);"></div>
                <div class="special-requirements-card-bot">
                    <p class="special-requirements-cards-title">Подорожі без перешкод</p>
                    <p class="special-requirements-cards-link"><a href="#">Перейти до сайту</a></p>
                </div>
            </div>

            <div class="special-requirements-card">
                <div class="special-requirements-card-top" style="background-image: url(/Content/img/about-travel/special_requirements/img3.svg);"></div>
                <div class="special-requirements-card-bot">
                    <p class="special-requirements-cards-title">Бізнес -зали</p>
                    <p class="special-requirements-cards-link"><a href="#">Знайдіть свій</a></p>
                </div>
            </div>

            <div class="special-requirements-card">
                <div class="special-requirements-card-top" style="background-image: url(/Content/img/about-travel/special_requirements/img4.svg);"></div>
                <div class="special-requirements-card-bot">
                    <p class="special-requirements-cards-title">Проїзні документи</p>
                    <p class="special-requirements-cards-link"><a href="#">Дізнатись більше</a></p>
                </div>
            </div>

        </div>
    </div>

</body>
