body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.services-section {
    text-align: left;
    padding-top: 50px;
    margin-left: 157px;
    margin-right: 157px;
}

.services-section h2 {
    margin-bottom: 50px;
    color: #333;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-item {
    margin-bottom: 30px;
    text-align: left;
    font-weight: bolder;
}


.service-item p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


.Main-partn-h{
    margin-top: 120px;
}
.Main-partn-h h1{
    font-size: 32px;
}
.Main-partn-con{
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 170px;
}
.Main-partn-con-m{
    float: left;
    width: 700px;
    background: white;
    border-radius: 8px;
    padding-left: 10px;
    margin-right: 20px;
}
.Main-partn-con-m-h{
    height: 35px;
}
.Main-partn-con-m-h h1{
    font-size: 24px;
}
.Main-partn-con-m-h img{
  float: left;
  margin-right:10px;
}
.Main-partn-con-m p{
    font-size: 16px;
}