
@{
    ViewBag.Title = "airvista_upgrade";
    Layout = "~/Views/Shared/main_s_layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/style/air-upgrade.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>

<body class="I-Body">
    <div class="main-image">
        <div class="text-overlay">
            <p class="f"><a class="f" style="text-decoration: none; " href="/home/business">На борту</a> <img class="i" src="~/Content/img/air-upgrade/4.svg"><span class="bold">AirVista Upgrade</span></p>
        </div>
    </div>
    <div class="colors">
        <div class="container">
            <div>
                <div class="title">Підвищення класу обслуговування</div>
                <div class="text1">
                    Вже забронювали квиток та хочете підвищити клас обслуговування? Пріоритет при посадці на борт, доступ до зали очікування або меню з кількох страв з ресторану для гурманів  – виберіть спосіб підвищення класу. Тут міститься інформація про всі варіанти підвищення класу.
                </div>
                <div class="title1">Як забронювати підвищення класу обслуговування за фіксованою ціною або з пропозицією ціни</div>

                <div class="container1">
                    <div class="image">
                        <img src="~/Content/img/air-upgrade/1.svg">
                    </div>
                    <div class="text">
                        <p class="title2">Перевірте наявність</p>
                        <p class="text2">Перейдіть до розділу “Додаткові послуги” та натисніть “AirVista Upgrade”. Усі рейси за маршрутом вашої подорожі, для яких доступне підвищення класу, будуть відображатися автоматично.</p>
                        <p class="text2">Ви можете вибрати, чи підвищити клас обслуговування лише на одному рейсі або одночасно на рейсах туди та назад.</p>
                        <p class="text2">Оформити підвищення класу за фіксованою ціною можна пізніше ніж за 48 годин до вильоту. Пропозиція ціни за підвищення класу можлива не пізніше ніж за 60 годин до вильоту.</p>
                    </div>
                    <div class="image">
                        <img src="~/Content/img/air-upgrade/2.svg">
                    </div>
                    <div class="text">
                        <p class="title2">Оберіть варіант</p>
                        <p class="text3">Оберіть усі рейси, для яких ви хочете здійснити підвищення класу обслуговування, а потім виберіть варіант для кожного рейсу.</p>
                        <p class="text3">Для підвищення класу за фіксованою ціною натисніть “Продовжити”.</p>
                        <p class="text3">Для пропозиції ціни за підвищення класу обслуговування вкажіть бажану суму оплати за допомогою повзунка та натисніть “Продовжити”.</p>
                    </div>
                    <div class="image">
                        <img src="~/Content/img/air-upgrade/3.svg">
                    </div>
                    <div class="text">
                        <p class="title2">Платіж</p>
                        <p class="text3">Потім введіть дані для оплати та підтвердіть покупку та (або) надішліть свою пропозицію ціни. Ми не спишемо гроші з вашої банківської картки, доки не підтвердимо підвищення класу.</p>
                        <p class="text3">Ми надішлемо підтвердження електронною поштою.</p>
                    </div>
                </div>
                <div class="button-container">
                    <button class="button3">Замовити AirVista Upgrade</button>
                </div>
            </div>
        </div>

    </div>
    <div class="container4">
        <div class="block4">
            <h2 class="title4">Підвищення класу обслуговування за милі</h2>
            <p class="text4">Виконайте підвищення з класу Economy та насолоджуйтеся привілеями вищого класу обслуговування всього від 10 000 миль. Ви можете здійснити підвищення класу за милі на стійці реєстрації в аеропорту або сервісному центрі Benefit Club вашої країни.</p>
            <a class="link4" href="https://example.com">До програми Benefit Club</a>
        </div>

        <div class="block4">
            <h2 class="title4">Підвищення класу обслуговування в процесі онлайн реєстрації</h2>
            <p class="text4">Більше місця, більше сервісу, більше комфорту: зробіть свою подорож ще приємнішою ще до вильоту. Придбайте підвищення класу обслуговування під час реєстрації від 47 годин до вильоту.</p>
            <a class="link4" href="https://example.com">Замовити підвищення класу</a>
        </div>

        <div class="block4">
            <h2 class="title4">Підвищення класу обслуговування в аеропорту</h2>
            <p class="text4">
                Вирішили підвищити клас в останній момент?
                Не проблема! Просто повідомте про це співробітника стійки реєстрації, виходу на посадку або члена екіпажу на борту.
            </p>
            <a class="link4" href="https://example.com">Замовити підвищення класу</a>
        </div>
    </div>


    <section class="block5">
        <div>
            <h1 class="title5">Загальні положення і умови</h1>
        </div>
        <p>Підвищення класу можливе за таких умов:</p>

        <ul>
            <li>Наявність вільних місць у класі Premium Economy або Business.</li>
            <li>Наявність підтвердженого бронювання (бронювання з листа очікування не приймаються).</li>
            <li>Наявність дійсного та оформленого квитка у класі Economy або Premium Economy.</li>
            <li>Підвищення класу на airvista.com можливе лише для всіх пасажирів рейсу, вказаних в одному бронюванні</li>
        </ul>

        <p>Якщо ви бажаєте придбати підвищення класу тільки для деяких пасажирів у бронюванні, зверніться до довідкового центру AirVista.</p>
    </section>

    <section class="block6">
        <div>
            <h1 class="title6">До довідкового центру</h1>
        </div>
        <p>Ми повідомимо про результати розгляду вашої пропозиції ціни в період від 60 до 48 годин до вильоту. До цього моменту ви можете змінювати або навіть скасовувати свою пропозицію ціни в будь-який час – безкоштовно і так часто, як забажаєте. Пізніше скасувати пропозицію ціни неможливо. Якщо пропозиція ціни підвищення класу не підтвердиться, за вами збережеться спочатку заброньоване місце.</p>
        <p>Підвищення класу не проводиться у таких випадках: </p>
        <ul>
            <li>Для рейсів, на які ви вже зареєстровані. </li>
            <li>Якщо на рейсі замовлено додаткові послуги, проте ці послуги ще не сплачені та для них не оформлені документи. </li>
            <li>Якщо на рейсі замовлені додаткові послуги, які не сумісні з підвищенням класу (наприклад, перевезення тварин на борту повітряного судна). </li>
            <li>Для подорожей з немовлятами до 2 років. </li>
            <li>Послуга підвищення класу обслуговування за фіксованою ціною на рейсах AirVista не поширюється на преміальні квитки Benefit Club. </li>
        </ul>
    </section>


</body>