
@{
    ViewData["Title"] = "Business Class";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Business Class</title>
    <link rel="stylesheet" href="~/Content/style/MAirVista.css">
    <link rel="stylesheet" href="~/Content/style/index.css">
    <link rel="stylesheet" href="~/Content/style/dodatk.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style/business-class.css">
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
    <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>

<body class="AirBody">
    <div class="busin-main-con">
        <div class="busin-m-con">
            <h1>AirVista Business Class</h1>
            <p>Подорожувати AirVista Business Class – це не лише розкіш, але й стратегічно обґрунтоване рішення для багатьох мандрівників. Відчуйте комфорт та ефективність з кожним вашим перельотом, оцінивши різноманітні переваги, які надає цей клас обслуговування.</p>
            <img src="~/Content/img/Rectangle 124.svg" />
            <h2>Пріорітетне обслуговування в аеропорту</h2>
            <p>Подорож бізнес-класом AirVista перетворюється на задоволення вже в аеропорту. Пріорітетна реєстрація, перевірка багажу та проходження безпеки дозволять вам уникнути черг та заощадити час, щоб зосередитися на своїх цілях.</p>
            <h2>Відпочинок перед подорожжю</h2>
            <p>Квиток AirVista Business Class відкриває двері до VIP-зон та лаунжів аеропорту, де ви можете насолодитися спокоєм та комфортом перед вильотом. Зручні сидіння, безкоштовне харчування та напої, безкоштовний Wi-Fi – все це чекає на вас.</p>
            <div class="busin-m-con-mini-img-con">
                <div class="busin-m-con-mini-img img-size-wrap">
                    <img class="busin-img" src="~/Content/img/Rectangle 221.svg" />
                </div>
                <div class="img-size-wrap">
                    <img class="busin-img" src="~/Content/img/Rectangle 222.svg" />
                </div>
            </div>
            <h2>Більше конфіденційності</h2>
            <p>Пасажирам з квитком в AirVista Business Class на короткі маршрути ми надаємо більше усамітнення і свободи, залишаючи в вашому розпорядженні крісло поруч з вами. Сидіння в бізнес-класі забезпечують вам вищий рівень комфорту. Збільшена кількість простору для ніг, широке сидіння, яке може перетворитися в ліжко для сну, дозволяють відпочити та відновити сили під час довгих перельотів.</p>
            <h2>Покращений Сервіс та Обслуговування</h2>
            <p>Пасажири AirVista  Business Class мають можливість насолоджуватися покращеним сервісом на борту. Від вишуканих страв до вибору напоїв, ви будете приємно здивовані уважністю та якістю нашого обслуговування.</p>
            
            <h1>Додаткові послуги</h1>
            


            <div class="container11">
                <div class="box">
                    <img src="~/Content/img/dodatk/2.svg" alt="Изображение 1">
                    <p>Харчування та напої</p>
                    <form method="get" action="/home/food_and_drinks">
                        <button type="submit">Перегляньте наше меню</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/1.svg" alt="Изображение 2">
                    <p>Багаж</p>
                    <form method="get" action="/home/baggage">
                        <button type="submit">Дізнайтесь більше про багаж</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/3.svg" alt="Изображение 3">
                    <p>AirVista Upgrade</p>
                    <form method="get" action="/home/airvista_upgrade">
                        <button type="submit">Підвищіть рівень подорожі</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- ---- partners ---- -->
    <div class="airvista-mainpage">
        <p class="airvista-mainpage-title">Наші партнери</p>

        <div class="airvista-mainpage-partners" style="margin-bottom: 200px;">
            <div class="airvista-mainpage-partner">
                <a href="https://www.rentalcars.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/taxi.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Оренда автомобілю</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Плануйте подорож з партнерами AirVista з оренди автомобілів легко та зручно, отримуючи при цьому ексклюзивні пропозиції.</p>
                </a>
            </div>

            <div class="airvista-mainpage-partner">
                <a href="https://www.booking.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/hotel.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Вибір помешкання</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Наш партнер Booking.com допоможе підібрати варіанти проживання відповідно до ваших побажань за кращими цінами.</p>
                </a>
            </div>
        </div>
    </div>
        <!-- ---- partners ---- -->
</body>

