
@{
    ViewBag.Title = "Tariff";
   
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/style/obr-tarif.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<style>
    .container2 {
        height: 820px;
    }
</style>
<body class="I-Body">

    <div class="container1">
        <div class="content">
            <p class="text1">Виліт</p>
            <img src="~/Content/img/choose_tariff/1.svg">
        </div>
        <div class="content">
            <p class="text1-1">Вибір тарифа</p>
            <img src="~/Content/img/choose_tariff/1.svg">
        </div>
        <div class="content">
            <p class="text1">Ввести дані</p>
            <img src="~/Content/img/choose_tariff/1.svg">
        </div>
        <div class="content">
            <p class="text1">Обрати місце</p>
            <img src="~/Content/img/choose_tariff/1.svg">
        </div>
        <div class="content">
            <p class="text1">Додати спосіб оплати</p>
        </div>
    </div>


    <div class="container4">
        <div class="container2-1" style="height: 690px">
            <!-- Картинка -->
            <img class="img2" src="~/Content/img/choose_tariff/2.svg">

            <!-- Жирный текст -->
            <p class="text2-1">Тариф Basic</p>

            <!-- Текст -->
            <p class="text2-2">маленька сумка/рюкзак</p>
            <div class="list-container">
                <!-- Список -->
                <ul>
                    <li>1 маленьке місце багажу </li>
                    <p class="text2-3">
                        (Має поміститися під сидінням перед вами)
                    </p>
                    <li>Безкоштовна онлайн-реєстрація</li>

                </ul>
            </div>
            <!-- Кнопка -->
            <a href="/home/input_data_one_side/1" class="btn2-1">Обрати (без змін)</a>
        </div>

        <div class="container2">
            <!-- Картинка -->
            <img src="~/Content/img/choose_tariff/3.svg">

            <!-- Жирный текст -->
            <p class="text2-1">Тариф Regular</p>

            <!-- Текст -->
            <p class="text2-2">маленька сумка/рюкзак</p>
            <div class="list-container">
                <!-- Список -->
                <ul>
                    <li>1 маленьке місце багажу </li>
                    <p class="text2-3">
                        (Має поміститися під сидінням перед вами)
                    </p>
                    <li>
                        Безкоштовна онлайн-реєстрація
                    </li>
                    <li>
                        Резервне місце
                    </li>
                    <li>
                        Пріоритетний доступ до верхніх баків
                    </li>
                    <li>10 кг місця багажу для верхнього відділення</li>
                </ul>
            </div>
            <!-- Кнопка -->
            <a href="/home/input_data_one_side/2" class="btn2-1">Обрати (+ ₴650.00)</a>
        </div>

        <div class="container2">
            <!-- Картинка -->
            <img src="~/Content/img/choose_tariff/4.svg">

            <!-- Жирный текст -->
            <p class="text2-1">Тариф PLUS</p>

            <!-- Текст -->
            <p class="text2-2">маленька сумка/рюкзак</p>
            <div class="list-container">
                <!-- Список -->
                <ul>
                    <li>1 маленьке місце багажу</li>
                    <p class="text2-3">
                        (Має поміститися під сидінням перед вами)
                    </p>
                    <li>Безкоштовна реєстрація в аеропорту </li>
                    <p class="text2-3">
                        (до 40 хвилин до відправлення)
                    </p>
                    <li>
                        Резервне місце
                    </li>
                    <li>
                        Безкоштовна онлайн-реєстрація
                    </li>
                    <li>Багаж до 20 кг</li>
                </ul>
            </div>
            <!-- Кнопка -->
            <a href="/home/input_data_one_side/3" class="btn2-2">Обрати (+ ₴837.00)</a>
        </div>

</body>