
@{
    ViewBag.Title = "Economy Class";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Economy Class</title>
    <link rel="stylesheet" href="~/Content/style/econom_class_style.css">
    <link rel="stylesheet" href="~/Content/style/dodatk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style/index.css">
</head>

<body class="AirBody" style="background-color: #F5F9FA;">
    <div class="busin-main-con">
        <div class="busin-m-con">
            <h1>AirVista Economy Class</h1>
            <p>Економічний клас літака AirVista залишається одним з найпопулярніших варіантів для багатьох пасажирів, і це не дивно, оскільки цей клас обслуговування пропонує ряд переваг, які роблять подорож доступною та комфортною для широкого кола мандрівників.</p>
            <img src="~/Content/img/econom_class/13.svg" />
            <h2>Доступна Вартість</h2>
            <p>Однією з головних переваг AirVista Economy Class є його доступна вартість. Цей клас надає вам можливість насолоджуватися подорожжю без значних витрат. Забезпечуючи зручність, доступність та широкий вибір, економічний клас залишається популярним вибором для подорожей. Це дозволяє більшій кількості людей мандрувати без значних витрат на перельот.</p>
            <h2>Різноманітність Маршрутів та Рейсів</h2>
            <p>Ми часто пропонуємо більший вибір маршрутів та рейсів у порівнянні з іншими класами обслуговування. Це дозволяє вам знаходити оптимальні варіанти подорожі відповідно до ваших потреб і бюджету.</p>
            <h2>Збереження Часу та Зручність</h2>
            <p>Хоча AirVista Economy Class може не мати тих розкошей, які пропонують класи вищого рівня, він все ще забезпечує основний рівень комфорту і зручності під час вашої подорожі. Ви можете насолоджуватися зручними сидіннями, розвагами на борту та іншими послугами, що допомагають зробити переліт приємним та зручним.</p>

            <p style="margin-top:50px;">Економічний клас літака AirVista залишається популярним вибором для багатьох пасажирів, завдяки своїй доступності, комфортності та широкому вибору. Незалежно від того, чи ви мандруєте для бізнесу або для задоволення, економічний клас гарантує приємний та зручний перельот.</p>

            <h1>Додаткові послуги</h1>



            <div class="container11">
                <div class="box">
                    <img src="~/Content/img/dodatk/2.svg" alt="Изображение 1">
                    <p>Харчування та напої</p>
                    <form method="get" action="/home/food_and_drinks">
                        <button type="submit">Перегляньте наше меню</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/1.svg" alt="Изображение 2">
                    <p>Багаж</p>
                    <form method="get" action="/home/baggage">
                        <button type="submit">Дізнайтесь більше про багаж</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/3.svg" alt="Изображение 3">
                    <p>AirVista Upgrade</p>
                    <form method="get" action="/home/airvista_upgrade">
                        <button type="submit">Підвищіть рівень подорожі</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- ---- partners ---- -->
    <div class="airvista-mainpage" style="">
        <p class="airvista-mainpage-title">Наші партнери</p>

        <div class="airvista-mainpage-partners" style="margin-bottom: 200px;">
            <div class="airvista-mainpage-partner">
                <a href="https://www.rentalcars.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/taxi.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Оренда автомобілю</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Плануйте подорож з партнерами AirVista з оренди автомобілів легко та зручно, отримуючи при цьому ексклюзивні пропозиції.</p>
                </a>
            </div>

            <div class="airvista-mainpage-partner">
                <a href="https://www.booking.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/hotel.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Вибір помешкання</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Наш партнер Booking.com допоможе підібрати варіанти проживання відповідно до ваших побажань за кращими цінами.</p>
                </a>
            </div>
        </div>
    </div>
        <!-- ---- partners ---- -->
</body>
