
@{
    ViewBag.Title = "Home Page";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AirVista</title>
    <link rel="stylesheet" href="~/Content/style/view_airvista1.css">
    <link rel="stylesheet" href="~/Content/style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<style>
   
</style>
<body class="AirBody">
    <div class="AirImage">
        <h1>
            Відкрийте для себе AirVista
        </h1>
    </div>



    <div class="MAir-main-con">
        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 165.svg" />
            </div>
            <div class="block-con-text">
                <h1>Наша Мережа</h1>
                <p>Дізнайтеся більше про наші маршрути, сервіс та те, як ми забезпечуємо ваше комфортне подорожування</p>
            </div>
        </div>


        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 186.svg" />
            </div>
            <div class="block-con-text">
                <h1>Наш Авіапарк</h1>
                <p>Дізнайтеся більше про наші сучасні літаки та технологічні досягнення. Ми дбаємо про ваш комфорт та безпеку.</p>
            </div>
        </div>

        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 189.svg" />
            </div>
            <div class="block-con-text">
                <h1>Наші клієнти</h1>
                <p>Ми робимо ваші подорожі неповторними. Дізнайтеся, чому вибирають нас та як ми робимо кожен момент для вас незабутнім</p>
            </div>
        </div>

        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 188.svg" />
            </div>
            <div class="block-con-text">
                <h1>Наші екіпажі</h1>
                <p>Подивіться, як ми працюємо - познайомтеся з нашими пілотами, бортпровідницями і наземним екіпажем</p>
            </div>
        </div>

        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 190.svg" />
            </div>
            <div class="block-con-text">
                <h1>14 причин, чому вам варто обрати AirVista</h1>
                <p>Ми – професіонали, які сміливо прагнуть надавати спеціалізовані продукти, адаптовані до потреб кожного клієнта. І це лише початок!</p>
            </div>
        </div>

        <div class="block-con">
            <div class="block-con-img">
                <img src="~/Content/img/Rectangle 191.svg" />
            </div>
            <div class="block-con-text">
                <h1>Цікаві факти про AirVista</h1>
                <p>Факти і міфи, цікаві дані і статистика, тобто історія AirVista!</p>
            </div>
        </div>
    </div>

    <div class="Main-news-h font-color">
        <h1>Новини Прямо З Друкарні</h1>
    </div>
    <div class="Mair-news-main">
        <hr>
        <div class="Mair-news-main-con font-color">

            <div class="Mair-news-main-con-big">
                <img src="~/Content/img/Rectangle 183.svg">
                <div class="MNMCBDate">
                    <p>07.03.2024</p>
                </div>
                <h1>Спільний Крок у Майбутнє: Китай Встановлює Новий Стандарт У Світі Авіації. Китай стає каталізатором...</h1>
                <p>Нещодавно Китай здійснив захоплюючий крок, провівши найбільший та технологічно передовий авіаційний проект. Цей вищий польот.. <a style="font-weight: bold;" class="font-color" href="#">читати далі</a></p>
            </div>
            <div class="Mair-news-main-con-li">
                <ul>
                    <li>
                        <img src="~/Content/img/Rectangle 1831.svg">
                        <p style="font-weight: bold;">29.02.2024</p>
                        <p>Airvista Розширює Корпоративні Подорожі за допомогою Нового Партнерства з Розподілом KYTE</p>
                        <hr>
                    </li>
                    <li>
                        <img src="~/Content/img/Rectangle 184.svg">
                        <p style="font-weight: bold;">28.02.2024</p>
                        <p> AirVista: Трафік у Лютому зріс на 5% - 11.1 мільйонів Пасажирів</p>
                        <hr>
                    </li>
                    <li>
                        <img src="~/Content/img/Rectangle 185.svg">
                        <p style="font-weight: bold;">28.02.2024</p>
                        <p>EDREAMS Признана №1 Онлайн-туроператором у Березневому Огляді</p>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>

        <div class="Mair-news-more-href">
            <a href="#">Читайте більше  у розділі  «Новини» ></a>
        </div>
        <hr>

    </div>

    </div>



    <div class="airvista-mainpage">
        <p class="airvista-mainpage-title">Наші партнери</p>

        <div class="airvista-mainpage-partners" style="margin-bottom: 200px;">
            <div class="airvista-mainpage-partner">
                <a href="https://www.rentalcars.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/taxi.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Оренда автомобілю</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Плануйте подорож з партнерами AirVista з оренди автомобілів легко та зручно, отримуючи при цьому ексклюзивні пропозиції.</p>
                </a>
            </div>

            <div class="airvista-mainpage-partner">
                <a href="https://www.booking.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/hotel.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Вибір помешкання</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Наш партнер Booking.com допоможе підібрати варіанти проживання відповідно до ваших побажань за кращими цінами.</p>
                </a>
            </div>
        </div>
    </div>
</body>
