@{
    ViewData["Title"] = "Premium Class";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Premium Class</title>
    <link rel="stylesheet" href="~/Content/style/MAirVista.css">
    <link rel="stylesheet" href="~/Content/style/index.css">
    <link rel="stylesheet" href="~/Content/style/dodatk.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style/business-class.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="AirBody">
    <div class="busin-main-con">
        <div class="busin-m-con">
            <h1>AirVista Premium Economy Class</h1>
            <p>Подорожуючи на борту літака, бажаєте відчути комфорт та зручність, але при цьому зекономити на витратах? Тоді AirVista Premium Economy Class – це опція, яка варта вашої уваги. Цей клас обслуговування пропонує різноманітні переваги, які роблять ваш перельот приємним та ефективним.</p>
            <img src="~/Content/img/Rectangle 1241.svg" />
            <h2>Додатковий Простір та Комфорт</h2>
            <p>У AirVista Premium Economy Class ви отримуєте більше простору для ніг порівняно з економічним класом, а також широкі сидіння, які забезпечують більший комфорт під час довгих перельотів.</p>
            <h2>Збереження Бюджету</h2>
            <p>Один з головних аргументів на користь Premium Economy Class – це більш доступна вартість квитків. Ви можете насолодитися покращеним комфортом без необхідності платити за високий рівень розкоші.</p>
            <h2>Покращений Сервіс на Борту</h2>
            <p>З квитком AirVista Premium Economy Class ви маєте можливість насолоджуватися покращеним сервісом, включаючи спеціальний вибір страв, напоїв та інших розваг на борту.</p>
            <div class="busin-m-con-mini-img-con">
                <div class="busin-m-con-mini-img img-size-wrap">
                    <img src="~/Content/img/Rectangle 224.svg" />
                </div>
                <div class="img-size-wrap">
                    <img src="~/Content/img/Rectangle 225.svg" />
                </div>
            </div>

            <p style="margin-top: 50px;">З AirVistaPremium Economy Class ви отримуєте комбінацію комфорту та економії, що робить ваші подорожі приємними та доступними. Насолоджуйтесь кращими умовами без великих витрат.</p>

            <h1>Додаткові послуги</h1>



            <div class="container11">
                <div class="box">
                    <img src="~/Content/img/dodatk/2.svg" alt="Изображение 1">
                    <p>Харчування та напої</p>
                    <form method="get" action="/home/food_and_drinks">
                        <button type="submit">Перегляньте наше меню</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/1.svg" alt="Изображение 2">
                    <p>Багаж</p>
                    <form method="get" action="/home/baggage">
                        <button type="submit">Дізнайтесь більше про багаж</button>
                    </form>
                </div>
                <div class="box">
                    <img src="~/Content/img/dodatk/3.svg" alt="Изображение 3">
                    <p>AirVista Upgrade</p>
                    <form method="get" action="/home/airvista_upgrade">
                        <button type="submit">Підвищіть рівень подорожі</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- ---- partners ---- -->
    <div class="airvista-mainpage">
        <p class="airvista-mainpage-title">Наші партнери</p>

        <div class="airvista-mainpage-partners" style="margin-bottom: 200px;">
            <div class="airvista-mainpage-partner">
                <a href="https://www.rentalcars.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/taxi.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Оренда автомобілю</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Плануйте подорож з партнерами AirVista з оренди автомобілів легко та зручно, отримуючи при цьому ексклюзивні пропозиції.</p>
                </a>
            </div>

            <div class="airvista-mainpage-partner">
                <a href="https://www.booking.com/uk">
                    <div class="airvista-mainpage-partner-block">
                        <img src="~/Content/img/index/hotel.svg" style="margin-right: 10px;">
                        <p class="airvista-mainpage-partner-name">Вибір помешкання</p>
                    </div>
                    <p class="airvista-mainpage-partner-about">Наш партнер Booking.com допоможе підібрати варіанти проживання відповідно до ваших побажань за кращими цінами.</p>
                </a>
            </div>
        </div>
    </div>
    <!-- ---- partners ---- -->
</body>
