body {
    margin: 0;
    padding: 0;
    background-color: #F5F9FA;
    font-family: "Inter", sans-serif;
}

.search-form {
    padding: 20px;
    padding-left: 157px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.search-button:hover {
    background-color: #ffcc00;
}

.button-container {
    display: flex;
}

.button-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Lighten button on hover */
}

.active {
    background-image: radial-gradient(circle, transparent 20%, #FFC107 20%);
    /* Your active button color */
}

/* Extra styles for the active button */
.active:hover {
    background-image: radial-gradient(circle, transparent 20%, #E6B700 20%);
    /* Darken the active button slightly on hover */
}


.input-field {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.input-field21 {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    padding-right: -2px;
    margin-right: -2px;
}

.input-field22 {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
    padding-left: -2px;
    margin-left: -2px;
}

.date-picker {
    height: 30px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.date-picker21 {
    height: 30px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    padding-right: -3px;
    margin-right: -3px;
}

.date-picker22 {
    height: 30px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
    padding-left: -3px;
    margin-left: -3px;
}


.search-button {
    height: 30px;
    background-color: #F8AB12;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 12px;
}


.button-flights {
    display: flex;
    flex-direction: row;
}

.button-flights p {
    font-size: 18px;
    margin-right: 50px;
}


.btn-flights {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.activeflights {
    text-decoration: underline;
    text-decoration-color: yellow;
    /* Додайте цей рядок для жовтого підкреслення */
    text-underline-offset: 8px;
    /* Збільште відступ між текстом і підкресленням */
}


.promo-button {
    margin-top: 40px;
    height: 30px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 12px;
    outline: 1px solid #F5F9FA;
}

.promo-button:hover {
    background-color: rgb(233, 228, 228);
}

.container {
    text-align: center;
}

.container-aboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container-aboard a{
    color: #116380;
    font-weight: bold;
}

.container-aboard p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
}

.container-aboard button {
    color: white;
    border: none;
    width: 550px;
    background-color: #116380;
    top: 1438px;
    left: 985px;
    padding: 14px 10px 14px 10px;
    gap: 10px;
    border-radius: 12px 12px 12px 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    transition: background-color 1s;
}

.container-aboard button:hover {
    background-color: #5c8c9e;
}


.container-cage {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}


.container-other {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-other-dog {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.container-other-dog a {
    text-decoration: none;
    color: #2E2E2E;
    cursor: pointer;
height: 360px;
}

.container-other-dog p {
    text-align: left;
    background-color: white;
    width: 400px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 600;
}

.container-other-dog-dogcat {
    margin-left: 40px;
    margin-right: 20px;
    transition: box-shadow 0.3s;
}

.container-other-dog-dogcat:hover {
    box-shadow: 0 0 50px lightgrey;
}

.container-other-dog-dog {
    margin-left: 20px;
    transition: box-shadow 0.3s;
}

.container-other-dog-dog:hover {
    box-shadow: 0 0 50px lightgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    min-width: 160px;
}

.dropdown-content1 p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}