
@{
    ViewBag.Title = "feedback";
    Layout = "~/Views/Shared/main_h_f_layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/style/feedback/zv-zvyazok.css">
    <link rel="stylesheet" href="~/Content/style/baggage-requirements.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<body class="I-Body">
    <header class="header">
        <div class="header-about">
            <p class="header-about-main"><a href="/help/help">Допомога</a></p>
            <p class="header-about-main" style="font-size: 24px; margin-top: 37px"> > </p>
            <p class="header-about-current" style="margin-top: 34px">Зворотній зв’язок</p>
        </div>
    </header>
    <div class="container">
        <div>
            <div class="title">Як з нами зв’язатися?</div>
            <div class="text1">
                Наша команда з радістю допоможе вам або відповість на запитання, які можуть у вас виникнути. Оберіть нижче один із способів зв’язку з нами. Або поспілкуватись з нами
                в чат-боті.
            </div>
        </div>
    </div>

    <div class="yellow-box">
        <div class="red-box"></div>
        <p class="text3">Україна</p>
        <div class="columns">
            <div class="column">
                <p class="column1">
                    Номер телефону
                    контактного центру
                </p>
            </div>
            <div class="column"><p class="column2">+380 50 432 22 12</p></div>
            <div class="column">
                <p class="column3">
                    Контакт-центр бронювання
                    квитків
                </p>
            </div>
            <div class="column"><p class="column4">+380 50 567 88 87</p></div>
        </div>
        <div class="columns">
            <div class="column"><p class="column1">Години роботи</p></div>
            <div class="column"><p class="column2">24/7</p></div>
            <div class="column"><p class="column3">Глобальний контакт-центр</p></div>
            <div class="column"><p class="column4">team@airvista.com</p></div>
        </div>
    </div>
    </div>

</body>

