
@{
    ViewBag.Title = "guide_dog";
    Layout = "~/Views/Shared/main_h_f_layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Собака поводир</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/style/guide_dog/style.css">
    <link rel="stylesheet" href="~/Content/style/baggage-requirements.css">
</head>

<body>
    <header class="header">
        <div class="header-about">
            <p class="header-about-main"><a href="/help/help">Допомога</a></p>
            <p class="header-about-main" style="font-size: 24px; margin-top: 37px"> > </p>
            <p class="header-about-current" style="margin-top: 34px">Перевезення тварини</p>
        </div>
    </header>
    <div class="container">
        <div>
            <p class="title-text">Собака поводир</p>
            <img src="~/Content/img/guide_dog/dog.svg">
        </div>

        <div class="container-title-text">
            <p class="mini-title-text">
                Собака-помічник/провідник:
            </p>

            <p class="mini-title-text-list">
                ● перевозиться в пасажирському салоні без додаткової оплати,<br>
                ● не обов'язково розміщується в транспортері,<br>
                ● повинна мати поводок,<br>
                ● не зобов'язана носити намордник, але з міркувань безпеки слід взяти його з собою,<br>
                ● повинна бути захищена від можливого контакту з іншими пасажирами на борту (наприклад,<br> триматися на
                повідку)<br>
                ● обмеження за вагою відсутнє,<br>
                ● повинна поміщатися на пасажирському сидінні (в ногах пасажира), оскільки з міркувань безпеки<br>
                заборонено<br>
                перевозити собаку на колінах під час увімкненого сигналу: "Пристебніть ремені<br> безпеки".
            </p>
            <p class="mini-title-text-list" style="text-align: center;">
                Хочете гарантований простір для свого
                собаки? Придбайте додаткове місце<br>
                поруч, звернувшись до <a href="#"
                                         style="font-weight: bold; text-decoration: underline; color: #2E2E2E;">Довідкового центру</a>
            </p>
        </div>

        <div class="container-title-text">
            <p class="title-text">
                Допускається перевезення собак-помічників на наши<br> рейсах, залежно від маршруту:
            </p>

            <div class="container-title-text-info">
                <div style="padding: 0 40px 0 40px;">
                    <p class="mini-title-text">
                        Вимоги до польотів з/до США
                    </p>
                    <p class="mini-title-text-list-info" style="max-width: 661px;">
                        Згідно з американським визначенням,
                        тварина-помічник – це собака,
                        незалежно від породи або типу,
                        яка індивідуально навчена виконувати роботу або завдання для особи з обмеженими можливостями, в
                        тому числі з фізичними, сенсорними, психічними, інтелектуальними або іншими розумовими вадами.
                    </p>
                    <p class="mini-title-text-list-info">
                        <b>Доступні види собак-помічників:</b><br><br>
                        ● Собака-помічник для людини з обмеженими можливостями<br>
                        ● Собака-поводир для незрячої або слабозорої людини<br>
                        ● Собака, яка сигналізує людям з вадами слуху<br>
                        ● Собака сигналізує про напади хвороби (наприклад, діабет, епілепсія)<br>
                        ● Собака психіатричних служб<br><br>

                        Максимальна кількість собак на одного пасажира: 2 (коли собак тренують<br>
                        для підтримки двох різних типів інвалідності).<br><br>
                        Необхідні документи:<br><br>
                        <a href="https://www.transportation.gov/resources/individuals/aviation-consumer-protection/us-department-transportation-service-animal-air">
                            США – Бланк подорожі з собакою-поводирем
                        </a><br><br>
                        <a href="https://www.transportation.gov/resources/individuals/aviation-consumer-protection/us-department-transportation-service-animal">
                            США – Довідка про стан собаки на борту
                        </a><br><br>
                        Пасажир повинен заявити про перевезення собаки-помічника і
                        надіслати<br> необхідні документи, не пізніше, ніж за 48 годин до першого рейсу.<br><br>
                        <b>Всі документи треба мати при собі протягом всієї подорожі</b>
                    </p>
                </div>
                <div style="padding: 0 40px 0 40px;">
                    <p class="mini-title-text">
                        Вимоги до інших рейсів (за межами США)
                    </p>
                    <p class="mini-title-text-list-info" style="max-width: 661px;">
                        Собака-помічник/поводир – це відповідно навчена собака зі спеціальним позначенням, зокрема
                        собака-поводир для незрячих або слабозрячих осіб і собака-поводир для особи з фізичними
                        дисфункціями, що сприяє її активній участі у житті суспільства.
                    </p>
                    <p class="mini-title-text-list-info">
                        <b>Доступні види собак-помічників:</b><br><br>
                        ● Собака-помічник для людини з обмеженими можливостями<br>
                        ● Собака-поводир для незрячої або слабозорої людини<br>
                        ● Собака, яка сигналізує людям з вадами слуху<br>
                        ● Собака сигналізує про напади хвороби (наприклад, діабет, епілепсія)<br><br>
                        Максимальна кількість собак на одного пасажира: 1<br><br>
                        Необхідні документи щодо дресеруваня:<br><br>
                        ● Сертифікат, що підтверджує навчання собаки, виданий авторитетним<br>
                        навчальним інститутом (сертифікати, що підтверджують самостійне<br>
                        навчання собаки, не приймаються).<br>
                        ● Свідоцтво про проведення обов'язкових ветеринарних щеплень<br>
                        ● Паспорт тварини<br>
                        ● Письмова заява про те, що собака відповідає вимогам для подорожей в<br> якості сертифікованого
                        собаки-помічника<br><br>
                        Пасажир повинен заявити про перевезення собаки-помічника і надіслати<br> необхідні
                        документи, не пізніше, ніж за 48 годин до першого рейсу.<br><br>
                        <b>Всі документи треба мати при собі протягом всієї подорожі</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="container-card">
            <p class="container-card-mini-title-text">
                <br>Пам'ятайте, що собаці-помічнику дозволено подорожувати<br> в пасажирському салоні: 
            </p>
            <p class="container-card-mini-title-text-list">
                ● Реагує на команди власника та поводиться належним чином у громадському місці,<br><br>
                ● Не створює прямого чи опосередкованого ризику для життя чи здоров'я інших пасажирів,<br><br>
                ● Не задовольняє фізіологічні потреби в пасажирській кабіні або на виході, за винятком випадків,
                коли це робиться таким чином, що не викликає ризику для здоров’я чи проблем з гігієною,<br><br>
                ● Має необхідні документи, а його власник заповнив необхідні форми для подорожі за
                цим<br>маршрутом.<br><br><br>
            </p>
        </div>

        <div class="container-checking-passport">
            <img src="~/Content/img/guide_dog/passport-chek.svg">
            <div>
                <p class="checking-passport-title">
                    Перевірка послуги перед вильотом:
                </p>
                <p class="checking-passport-list">
                    Перевізник має право поставити два запитання, пов'язані з<br> перевіркою послуги
                    собаки-помічника:<br><br>
                    ● Чи навчений собака допомагати людині з інвалідністю?<br><br>
                    ● До яких завдань і видів діяльності підготовлений собака?<br><br>
                </p>
            </div>
        </div>

        <div class="container-denial">
            <p class="container-denial-title">
                Відмова у перевезенні собаки-помічника:
            </p>

            <p class="container-denial-title-mini">
                Ми можемо відмовити в транспортуванні собаки-поводиря згідно<br>з правилами DOT США за таких обставин:
            </p>

            <p class="container-denial-title-list">
                ● Собака-помічник становить пряму загрозу здоров’ю чи безпеці інших.<br><br>
                ● Собака-помічник заважає в салоні літака або біля воріт, або її поведінка в літаку чи в аеропорту<br>
                вказує
                на те, що вона не була навчена належним чином поводитися в громадських місцях.<br><br>
                ● Перевезення собаки-помічника порушує чинні правила охорони здоров'я та безпеки<br> федерального уряду
                США,
                території США або іноземного уряду.<br><br>
                ● Пасажир з інвалідністю, який бажає подорожувати з собакою-поводирем у пасажирському<br> салоні, не
                надав
                заповнені відповідні форми, що може призвести до затримки рейсу.<br><br>
                ● Собака-помічник через свої розміри не поміщається на пасажирському сидінні, і немає<br> можливості
                розмістити пасажира з собакою в іншому місці літака.<br><br>
            </p>

            <p class="container-denial-info">
                * AirVista залишає за собою право перевести собаку, яка поводиться неналежним<br> чином, в багажний відсік
                за додаткову плату або відмовити в перевезенні. Власник<br> собаки несе повну відповідальність за всі
                пошкодження та додаткові витрати, пов'язані<br> з перевезенням собаки.
            </p>
        </div>

        <div class="container-other-dog">
            <a class="container-other-dog-dogcat" href="/help/animal_transportation">
                <div style="padding-top: 95px;">
                    <img src="~/Content/img/guide_dog/dog-cat.svg">
                    <p style="border-radius: 0 0 12px 12px">Перевіз тварини на борту</p>
                </div>
            </a>

            <a class="container-other-dog-dog" href="/help/animals_in_baggage">
                <div>
                    <img src="~/Content/img/guide_dog/guide-dog.svg">
                    <p style="border-radius: 0 0 12px 12px">Перевіз тварини в багажному<br>відділенні</p>
                </div>
            </a>
        </div>
    </div>

    @*<script src="./js/animals_on_board.js"></script>*@
</body>