.Main-partn-h{
    margin-top: 120px;
}
.Main-partn-h h1{
    font-size: 32px;
}
.Main-partn-con{
    
    /* display: flex;
    flex-wrap: wrap;
    margin-bottom: 170px; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width:1500px;
    
}
.Main-partn-con-m{
    float: left;
    max-width: 700px;
    background: white;
    border-radius: 8px;
    margin-left: 15px;
    
}
.Main-partn-con-m-h{
    height: 35px;
}
.Main-partn-con-m-h h1{
    font-size: 24px;
}
.Main-partn-con-m-h img{
  float: left;
  margin-right: 8px;
}
.Main-partn-con-m p{
    font-size: 16px;
}
.Main-partn-center {
    margin-left: 11%;
    margin-bottom: 60px
}