.header-about {
    display: flex;
    padding-left: 13%;
}

.header-about a {
    color: #F5F9FA;
    text-decoration: none;
}

.header-about-main {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-right: 25px;
}

.header-about-current {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-weight: bold;
}

.container {
    text-align: center;
}

.title-text {
    font-family: "Inter", sans-serif;
    color: #0E3049;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    margin-top: 150px;
}