body {
    font-family: "Inter", sans-serif;
    background-color: #F5F9FA;
}

.search-form {
    padding: 20px;
    padding-left: 157px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.search-button:hover {
    background-color: #ffcc00;
}

.button-container {
    display: flex;
}

.button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Lighten button on hover */
}

.active {
    background-image: radial-gradient(circle, transparent 20%, #FFC107 20%);
    /* Your active button color */
}

/* Extra styles for the active button */
.active:hover {
    background-image: radial-gradient(circle, transparent 20%, #E6B700 20%);
    /* Darken the active button slightly on hover */
}


.input-field {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.input-field21 {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    padding-right: -2px;
    margin-right: -2px;
}

.input-field22 {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;

    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
    padding-left: -2px;
    margin-left: -2px;
}

.date-picker {
    height: 30px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.search-button {
    height: 30px;
    background-color: #F8AB12;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 12px;
}


.services-section {
    text-align: left;
    padding-top: 50px;
    margin-left: 157px;
    margin-right: 157px;
}

.services-section h2 {
    margin-bottom: 50px;
    color: #333;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-item {
    margin-bottom: 30px;
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}

.service-item p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    /* background-color: #F5F9FA; */
}

/* animation main */
.container-baggage {
    width: 460px;
    height: 236px;
    transition: box-shadow 0.3s;
    background-color: #F2F2F2;
    text-align: center;
    position: relative;
}

.container-baggage:hover {
    box-shadow: 0 0 50px lightgrey;
}

.chest-left {
    position: relative;
    transition: transform 0.7s, margin 0.7s;
    margin-right: -10px;
    z-index: 2;
}

.chest-right {
    position: relative;
    transition: transform 0.7s, margin 0.7s;
    margin-left: -10px;
    z-index: 1;
}

.container-baggage:hover .chest-left {
    transform: rotate(-25deg) translateX(-20px);
    margin-right: 20px;
}

.container-baggage:hover .chest-right {
    transform: rotate(25deg) translateX(20px);
    margin-left: 20px;
}


.container-registration {
    width: 460px;
    height: 236px;
    transition: box-shadow 0.3s;
    background-color: #F2F2F2;
    text-align: center;
    position: relative;
}

.container-registration:hover {
    box-shadow: 0 0 50px lightgrey;
}

.registration-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.human-right {
    position: absolute;
    top: 12%;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
    z-index: 2;
}

.container-registration:hover .human-right {
    opacity: 1;
    transform: translateX(-155%);
}


.container-on-board {
    width: 460px;
    height: 236px;
    transition: box-shadow 0.3s;
    background-color: #F2F2F2;
    text-align: center;
    position: relative;
}

.container-on-board:hover {
    box-shadow: 0 0 50px lightgrey;
}

.board-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.human-board-right {
    position: absolute;
    top: 25%;
    right: 0;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 1s;
}

.container-on-board:hover .human-board-right {
    opacity: 1;
    transform: translateX(-90%) scale(1);
}


.container-dditional-services {
    width: 460px;
    height: 236px;
    transition: box-shadow 0.3s;
    background-color: #F2F2F2;
    /* text-align: center; */
    position: relative;
    overflow: hidden;
}

.container-dditional-services:hover {
    box-shadow: 0 0 50px lightgrey;
}

.cities {
    position: absolute;
    bottom: 0px;
}

.plane1 {
    position: absolute;
    width: 20px;
    height: 14px;
    opacity: 0;
    top: 50%;
    left: 35%;
    transition: opacity 0.5s, transform 0.5s;
}

.container-dditional-services:hover .plane1 {
    opacity: 1;
    transform: translate(380%, -480%);
}

.plane2 {
    position: absolute;
    width: 20px;
    height: 14px;
    opacity: 0;
    top: 10%;
    left: 10%;
    transition: opacity 0.5s, transform 0.5s;
}

.container-dditional-services:hover .plane2 {
    opacity: 1;
    transform: translate(1800%, 10%);
}

.plane3 {
    position: absolute;
    width: 20px;
    height: 14px;
    opacity: 0;
    top: 30%;
    left: 80%;
    transition: opacity 0.5s, transform 0.5s;
}

.container-dditional-services:hover .plane3 {
    opacity: 1;
    transform: translate(-250%, 300%);
}

/* animation main */
.Main-partn-h {
    margin-top: 120px;
}

.Main-partn-h h1 {
    font-size: 32px;
}

.Main-partn-con {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 170px;
}

.Main-partn-con-m {
    float: left;
    width: 700px;
    background: white;
    border-radius: 8px;
    padding-left: 10px;
    margin-right: 20px;
}

.Main-partn-con-m-h {
    height: 35px;
}

.Main-partn-con-m-h h1 {
    font-size: 24px;
}

.Main-partn-con-m-h img {
    float: left;
    margin-right: 10px;
}

.Main-partn-con-m p {
    font-size: 16px;
}